<!DOCTYPE html>
<html>

<head>
    <meta name="screen-orientation" content="portrait">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>年会抽奖小程序</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="pure.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div id="container">
        <div id="main" class="wall">
            <div class="result-btn">
                <button class="pure-button" @click="showWinnerRecords">中奖记录</button>
            </div>
            <canvas id="memberCanvas"></canvas>
        </div>
        <div id="result" class="result">
        </div>
        <div id="winnerRecords" class="winnerRecords" @click="hideWinnerRecords">
        </div>
        <div id="tools" class="tools">
            <!-- <button v-for="btn in btns" @click="onClick(btn.value)" class="pure-button"
                :class="{ 'button-error': selected == btn.value}">{{btn.name}}</button> -->
            <input type="number" name="winnerNumber" id="winnerNumber" placeholder="3" v-model="selected" />
            <button class="pure-button" @click="toggle" :class="{'button-secondary': !running,
               'button-success': running}">{{running?'停!':'开始'}}</button>
            <button class="pure-button button-warning" @click="reset">清空抽奖记录</button>
            <button class="pure-button" @click="loadStorageInfo">读取记录</button>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/tagcanvas.min.js"></script>
    <script type="text/javascript" src="js/allMembers.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>